Manage people.json
{
  "name": "Manage people",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -896,
        -112
      ],
      "id": "7e2eb47e-2c83-464b-b609-803725826ea4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GIQ9LjMEgVa6cYo1Y6N7mccW6d7BH2ZcVeH4ah5-8Mg",
          "mode": "list",
          "cachedResultName": "ProjectN8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GIQ9LjMEgVa6cYo1Y6N7mccW6d7BH2ZcVeH4ah5-8Mg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2061384931,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GIQ9LjMEgVa6cYo1Y6N7mccW6d7BH2ZcVeH4ah5-8Mg/edit#gid=2061384931"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -640,
        -96
      ],
      "id": "d07396da-46b5-479b-9890-741a73a30aa8",
      "name": "Get row(s) in sheet"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GIQ9LjMEgVa6cYo1Y6N7mccW6d7BH2ZcVeH4ah5-8Mg",
          "mode": "list",
          "cachedResultName": "ProjectN8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GIQ9LjMEgVa6cYo1Y6N7mccW6d7BH2ZcVeH4ah5-8Mg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 591612273,
          "mode": "list",
          "cachedResultName": "NV",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GIQ9LjMEgVa6cYo1Y6N7mccW6d7BH2ZcVeH4ah5-8Mg/edit#gid=591612273"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -672,
        -272
      ],
      "id": "3b89a94e-5cd2-4eb2-8c6f-f57b45fd3184",
      "name": "Get row(s) in sheet1"
    },
    {
      "parameters": {
        "jsCode": "// Input: ONE merged Google Sheets node → Code (Run Once for All Items)\nconst rows = items.map(i => i.json);\n\n// --- helpers ---\nconst toArr = (v) => {\n  if (Array.isArray(v)) return v.map(s => String(s).trim()).filter(Boolean);\n  if (typeof v === 'string') {\n    const s = v.trim();\n    if (s.startsWith('[')) {\n      try { const a = JSON.parse(s); if (Array.isArray(a)) return a.map(x => String(x).trim()).filter(Boolean); } catch {}\n    }\n    return s.split(',').map(x => x.trim()).filter(Boolean);\n  }\n  return [];\n};\n\nconst normPrio = (v) => {\n  const s = String(v || '').toLowerCase();\n  return ['low','medium','high'].includes(s) ? s : 'medium';\n};\n\nfunction inferSkillsAndHours(name) {\n  const n = String(name || '').toLowerCase();\n  const skills = new Set();\n  let hours = 0;\n\n  if (/(planning|scoping|architecture|design|modeling)/.test(n)) { skills.add('Project Management'); skills.add('Solution Architecture'); hours += 24; }\n  if (/ui\\/ux|wireframe|prototype|visual design/.test(n)) { skills.add('UI/UX Design'); hours += 40; }\n  if (/backend|api|authentication|user management|account management/.test(n)) { skills.add('Backend Development'); skills.add('API Design'); hours += 60; }\n  if (/database|schema/.test(n)) { skills.add('Database Management'); hours += 40; }\n  if (/integration.*legacy|legacy.*integration/.test(n)) { skills.add('Integration'); skills.add('System Design'); hours += 48; }\n  if (/ios/.test(n)) { skills.add('iOS Development'); hours += 32; }\n  if (/android/.test(n)) { skills.add('Android Development'); hours += 32; }\n  if (/mobile/.test(n)) { skills.add('Mobile Development'); hours += 24; }\n  if (/money transfer|transfers?/.test(n)) { skills.add('Payments'); hours += 36; }\n  if (/bill payment/.test(n)) { skills.add('Payments'); hours += 28; }\n  if (/transaction history/.test(n)) { skills.add('Backend Development'); hours += 24; }\n  if (/security|threat|penetration/.test(n)) { skills.add('Security Engineering'); hours += 36; }\n  if (/kyc|aml|compliance/.test(n)) { skills.add('Financial Regulatory Compliance'); hours += 28; }\n  if (/performance|load testing/.test(n)) { skills.add('QA'); skills.add('Performance Testing'); hours += 30; }\n  if (/test plan|test case|functional|integration testing/.test(n)) { skills.add('QA'); hours += 36; }\n  if (/uat/.test(n)) { skills.add('QA'); skills.add('UAT'); hours += 24; }\n  if (/release|app store submission/.test(n)) { skills.add('DevOps'); skills.add('Release Management'); hours += 16; }\n  if (/monitoring|support/.test(n)) { skills.add('DevOps'); skills.add('Support'); hours += 16; }\n\n  if (skills.size === 0) { skills.add('General Development'); hours += 12; }\n  hours = Math.max(8, Math.min(hours || 8, 120));\n  return { skills: Array.from(skills), hours };\n}\n\nconst pick = (obj, ...keys) => {\n  for (const k of keys) {\n    if (obj[k] !== undefined && String(obj[k]).trim() !== '') return obj[k];\n  }\n  return '';\n};\n\n// --- classify rows ---\nfunction isResourceRow(r) {\n  return ('Member' in r) || ('Skills' in r) || ('Capacity Hrs/Week' in r) || ('Availability %' in r);\n}\nfunction isTaskRow(r) {\n  return ('Project task' in r) || ('Task Name' in r) || ('project_name' in r) || ('Project Name' in r);\n}\n\nconst tasks = [];\nconst resources = [];\n\nfor (const r of rows) {\n  if (isResourceRow(r)) {\n    resources.push({\n      member: pick(r,'Member','member'),\n      skills: toArr(pick(r,'Skills')),\n      capacity_hrs_week: Number(pick(r,'Capacity Hrs/Week') || 0),\n      current_load_hrs_week: Number(pick(r,'Current Load Hrs/Week') || 0),\n      availability_percent: Number(pick(r,'Availability %') || 0),\n      max_parallel_tasks: Number(pick(r,'Max Parallel Tasks') || 1),\n      performance_rating: Number(pick(r,'Performance Rating') || 3),\n    });\n    continue;\n  }\n\n  if (isTaskRow(r)) {\n    const taskName = pick(r,'Project task','Task Name','task_name','project_name','Project Name') || '(Unnamed Task)';\n    const projectName = pick(r,'Project Name','project_name','Project task') || taskName;\n\n    // parse skills/hours/priority/description\n    let reqSkills = toArr(pick(r,'required_skills','Required Skills','Skills yêu cầu'));\n    let est = Number(pick(r,'estimated_hours','Estimated Hours','Hours','Ước lượng giờ') || 0);\n    const desc = pick(r,'Task Description','task_description','Description') || '';\n    const prio = normPrio(pick(r,'priority','Priority') || 'medium');\n\n    // parse dependencies (CSV hoặc JSON-string)\n    const dependencies = toArr(pick(r,'dependencies','Dependencies'));\n\n    // infer if missing\n    if (reqSkills.length === 0 || est === 0) {\n      const inf = inferSkillsAndHours(taskName);\n      if (reqSkills.length === 0) reqSkills = inf.skills;\n      if (est === 0) est = inf.hours;\n    }\n\n    tasks.push({\n      row_number: Number(r['row_number'] || r['Row'] || r['#'] || 0),\n      project_name: projectName,\n      task_name: taskName,\n      task_description: desc,\n      required_skills: reqSkills,\n      estimated_hours: est,\n      priority: prio,\n      dependencies,\n      status: pick(r,'Status','status') || '',\n      assigned_to: pick(r,'Assigned To','assigned_to') || ''\n    });\n  }\n}\n\nreturn [{\n  json: {\n    tasks,\n    resources,\n    debug: {\n      total_rows: rows.length,\n      tasks_detected: tasks.length,\n      resources_detected: resources.length,\n      note: \"Hỗ trợ Project task / Task Description / priority / estimated_hours / required_skills / dependencies; thiếu thì suy luận theo từ khoá.\"\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        -208
      ],
      "id": "4b975ddb-0435-42b3-a246-e069707b5faa",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -464,
        -192
      ],
      "id": "bd5c8457-2261-4fb8-b4df-dcf29fa55c1f",
      "name": "Merge"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -144,
        -32
      ],
      "id": "37f8e2f1-6272-43bf-bd47-ff59bb60378f",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n  \"type\": \"object\",\n  \"properties\": {\n    \"assignments\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"project_name\": { \"type\": \"string\" },\n          \"task_name\": { \"type\": \"string\" },\n          \"assignee\": { \"type\": \"string\" },\n          \"hours_allocated\": { \"type\": \"number\", \"minimum\": 0 },\n          \"required_skills_matched\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n          \"reason\": { \"type\": \"string\" },\n          \"confidence\": { \"type\": \"number\", \"minimum\": 0, \"maximum\": 1 }\n        },\n        \"required\": [\n          \"project_name\",\n          \"task_name\",\n          \"assignee\",\n          \"hours_allocated\",\n          \"required_skills_matched\",\n          \"reason\",\n          \"confidence\"\n        ],\n        \"additionalProperties\": false\n      }\n    },\n    \"unassigned\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"project_name\": { \"type\": \"string\" },\n          \"task_name\": { \"type\": \"string\" },\n          \"reason\": { \"type\": \"string\" }\n        },\n        \"required\": [\"project_name\", \"task_name\", \"reason\"],\n        \"additionalProperties\": false\n      }\n    },\n    \"totals\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"tasks_considered\": { \"type\": \"number\" },\n        \"tasks_assigned\": { \"type\": \"number\" },\n        \"tasks_unassigned\": { \"type\": \"number\" }\n      },\n      \"required\": [\"tasks_considered\", \"tasks_assigned\", \"tasks_unassigned\"],\n      \"additionalProperties\": false\n    }\n  },\n  \"required\": [\"assignments\", \"unassigned\", \"totals\"],\n  \"additionalProperties\": false\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        48,
        -32
      ],
      "id": "a6535aac-2954-4599-8afe-928d09e51b4a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "// Run Once for All Items = ON\n// Input: items[0].json.output.assignments (array)\n// Output: 1 item / assignee, với fields: assignee, tasks[], total_tasks, total_hours\n\nconst src = $json.output || $json;\nconst list = Array.isArray(src.assignments) ? src.assignments : [];\n\n// (Tuỳ chọn) bỏ các assignment giờ = 0 (nếu bạn chỉ muốn gửi việc có giờ)\nconst ONLY_POSITIVE_HOURS = false;\n\nconst byAssignee = new Map();\n\nfor (const a of list) {\n  const assignee = String(a.assignee || a.assigned_to || '').trim();\n  if (!assignee) continue;\n  const hours = Number(a.hours_allocated || 0);\n  if (ONLY_POSITIVE_HOURS && hours <= 0) continue;\n\n  if (!byAssignee.has(assignee)) byAssignee.set(assignee, []);\n  byAssignee.get(assignee).push({\n    project_name: String(a.project_name || ''),\n    task_name: String(a.task_name || ''),\n    hours_allocated: hours,\n    required_skills_matched: Array.isArray(a.required_skills_matched) ? a.required_skills_matched : [],\n    reason: String(a.reason || ''),\n    confidence: typeof a.confidence === 'number' ? a.confidence : 0.7\n  });\n}\n\n// Trả ra 1 item/assignee\nconst out = [];\nfor (const [assignee, tasks] of byAssignee.entries()) {\n  const total_hours = tasks.reduce((s,t)=> s + Number(t.hours_allocated||0), 0);\n  out.push({\n    json: {\n      assignee,\n      total_tasks: tasks.length,\n      total_hours,\n      tasks\n    }\n  });\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -160
      ],
      "id": "10c97780-cff6-463b-86b8-81a0242b692f",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a strict JSON generator.\nReturn ONLY one JSON object with keys: assignments, unassigned, totals.\nNo markdown, no code fences, no explanations, no extra keys.\nAll numbers must be numbers (not strings).\n\nGoal: Assign each task to the best member by skills overlap and remaining capacity.\n\nHard constraints:\n- remaining_capacity_hrs is provided per member; hours_allocated > 0 and ≤ remaining_capacity_hrs.\n- If all members have remaining_capacity_hrs = 0, put task in unassigned with reason \"zero remaining capacity\".\n\nPreferences & tie-breakers:\n- Maximize required_skills overlap, then higher remaining_capacity_hrs, then performance_rating, then lower current_load, then alphabetical by member.\n\nFallbacks:\n- If some capacity exists but no skill overlap, assign a 4–8 hour \"discovery allocation\" and state that in reason.\n- Keep task_name exactly; required_skills_matched must include only skills the assignee actually has.\n\n\"tasks\": {{ JSON.stringify($json.tasks || []) }},\n  \"resources\": {{ JSON.stringify($json.resources || []) }}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -112,
        -208
      ],
      "id": "5923a0c7-e7af-4e54-9a55-e0593b593036",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        384,
        -304
      ],
      "id": "1043e5d3-b1c5-4521-b491-af84edee91ef",
      "name": "Send email",
      "webhookId": "30e821a1-96db-4dce-a739-3fc44f605862",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1GIQ9LjMEgVa6cYo1Y6N7mccW6d7BH2ZcVeH4ah5-8Mg",
          "mode": "list",
          "cachedResultName": "ProjectN8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GIQ9LjMEgVa6cYo1Y6N7mccW6d7BH2ZcVeH4ah5-8Mg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 528773449,
          "mode": "list",
          "cachedResultName": "sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GIQ9LjMEgVa6cYo1Y6N7mccW6d7BH2ZcVeH4ah5-8Mg/edit#gid=528773449"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "assignee",
              "displayName": "assignee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total_tasks",
              "displayName": "total_tasks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total_hours",
              "displayName": "total_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tasks",
              "displayName": "tasks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        592,
        -192
      ],
      "id": "22824694-781c-4fc7-ab3c-3a98d84446cf",
      "name": "Append or update row in sheet"
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "https://docs.google.com/document/d/1dfyoztLU8byDXm2OAtUbZnU8WEakSJ1WqKQNjM2TpmM/edit?usp=sharing",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        624,
        0
      ],
      "id": "07ceb5ce-e4ba-40fa-a61b-6c75b19156b6",
      "name": "Update file"
    },
    {
      "parameters": {
        "jsCode": "// Run Once for All Items = ON\n// Input mong đợi: items[0].json.output = { assignments:[], unassigned:[], totals:{} }\n// Output: 1 item với { title, content } để map sang Google Docs → Create Document\n\nconst src = $json.output || $json;\n\n// Helper\nconst esc = (s)=>String(s||'').replace(/\\r?\\n/g, ' ');\nconst fmtSkills = (arr)=>Array.isArray(arr)&&arr.length? arr.join(', ') : '-';\n\nconst assignments = Array.isArray(src.assignments) ? src.assignments : [];\nconst unassigned  = Array.isArray(src.unassigned)  ? src.unassigned  : [];\nconst totals      = src.totals || {};\n\nlet md = '';\n\nconst TODAY = new Date().toISOString().slice(0,10);\nconst TITLE = `Assignment Report - ${TODAY}`;\n\nmd += `# ${TITLE}\\n\\n`;\n\nmd += `## Summary\\n`;\nmd += `- Tasks considered: **${totals.tasks_considered ?? (assignments.length + unassigned.length)}**\\n`;\nmd += `- Tasks assigned: **${totals.tasks_assigned ?? assignments.length}**\\n`;\nmd += `- Tasks unassigned: **${totals.tasks_unassigned ?? unassigned.length}**\\n\\n`;\n\nmd += `## Assignments (by task)\\n`;\nif (!assignments.length) {\n  md += `*(No assignments)*\\n\\n`;\n} else {\n  for (const a of assignments) {\n    md += `- **${esc(a.task_name)}** (Project: ${esc(a.project_name||'')})\\n`;\n    md += `  - Assignee: ${esc(a.assignee)}\\n`;\n    md += `  - Hours: ${Number(a.hours_allocated||0)}\\n`;\n    md += `  - Skills matched: ${fmtSkills(a.required_skills_matched)}\\n`;\n    md += `  - Reason: ${esc(a.reason)}\\n`;\n    if (typeof a.confidence === 'number') md += `  - Confidence: ${a.confidence}\\n`;\n    md += `\\n`;\n  }\n}\n\nmd += `## Unassigned\\n`;\nif (!unassigned.length) {\n  md += `*(None)*\\n`;\n} else {\n  for (const u of unassigned) {\n    md += `- **${esc(u.task_name)}** (Project: ${esc(u.project_name||'')}) — Reason: ${esc(u.reason)}\\n`;\n  }\n}\n\nreturn [{ json: { title: TITLE, content: md } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -48
      ],
      "id": "4b24bc11-46dc-4f4b-a51b-a981cdd08aac",
      "name": "Code in JavaScript2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "526353ea-2558-45e4-b165-6623c64c2cd7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "38ce93c80ca248ef1c883294aac27571ad8960125d1593457687402789c7b4b1"
  },
  "id": "TNTiFypSpv9Rt8Wt",
  "tags": []
}